#Marcouno {
    border: 2px solid rgb(26, 233, 233);
    width: 30%;
    height: 30px;
    font-size: 30px;
    background-color: #7cff68;
    font-family: cursive;
}

#Marcodos {
    border: 2px solid rgb(26, 233, 233);
    width: 30%;
    height: 30px;
    font-size: 30px;
    background-color: #7cff68;
    font-family: cursive;
}

#ResultadoSuma {
    border: 2px solid rgb(26, 233, 233);
    width: 30%;
    height: 30px;
    margin: 0 auto;
    text-align: left;
    font-family: cursive;
    font-size: 30px;
    background-color: #7cff68;
}

#Suma {
    border: 2px solid rgb(26, 233, 233);
    width: 30%;
    height: 40px;
    left: 600px;
    font-size: 30px;
    background-color: #7cff68;
    font-family: cursive;
}

html {
    background-color: #3eec24;
}

body {
    text-align: center;
}